@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&display=swap');

:root {
    --primary-colour: #154734;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--primary-colour);
    color: white;
    text-align: left;
    padding: 20px 10px;
    margin: 0;
}
body {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75em;
    margin: 0;
    padding-left: 10px;
    padding: 6rem 10px 60px 10px;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: white !important;
}

main {
    padding-top: 60px; /* Space for the fixed header */
    padding-bottom: 60px; /* Space for the fixed footer */
}

h1 {
    margin: 0;
    font-weight: bold;
    color: var(--primary-colour);
}
.banner {
    color: white;
    text-align: left;
    width: 100%;
    padding-left: 0px;
}

h2 {
    color: black;
    font-weight: bold;
}

button {
    font-size: inherit;
    background-color: var(--primary-colour);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid var(--primary-colour);
}   
.button-learn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.button-eng {
    position: fixed;
    bottom: 10px;
    right: 6.5rem;
}
.button-home {
    position: fixed;
    font-weight: bold;
    top: 10px;
    right: 10px;
    background-color: var(--primary-colour);
    color: white;
    border: 2px solid white;
}

button:hover {
    background-color: white;
    color: var(--primary-colour);
    border: 2px solid var(--primary-colour);
}
.button-home:hover {
    background-color: white;
    color: var(--primary-colour);
    border: 2px solid white;
}

div {
    margin: 10px;
}
@media (min-width: 1000px) {
    .fixed-width {
        width: 1000px;
    }
}

a {
    color: var(--primary-colour);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}